<h1>task-form-component works!</h1>


<form [formGroup]="newTaskForm" (ngSubmit)="addTask()" >
  <div class="mb-3">
    <label for="titre" class="form-label">Titre: </label>
    <input type="text" class="form-control" id="titre" formControlName="titre">

  </div>


  <div class="mb-3">
    <label for="description" class="form-label">Description: </label>
    <input type="text" class="form-control" id="description" formControlName="description">
  </div>


  <div class="mb-3 form-check">
    <input type="checkbox"  class="form-check-input" id="urgent" >
    <label class="form-check-label" for="urgent">Tâche urgente ?</label>
  </div>
  <button type="submit" class="btn btn-primary">Push this task</button>

</form>

